<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeX | Sign in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="background"><img src="{{ url_for('static', filename='images/medical.jpg') }}" alt="banner"></div>
    <div class="container">
        <div class="log">
            <form action="{{ url_for('login') }}" method="POST">
                <h2>Sign In</h2>

                <div class="input-group">
                    <ion-icon name="mail"></ion-icon>
                    <input type="email" name="email" placeholder="Enter Email" required />
                </div>

                <div class="input-group">
                    <ion-icon name="lock-closed"></ion-icon>
                    <input type="password" name="password" placeholder="Enter Password" required />
                </div>
                <br><br>
                <a href="#">Forgot password?</a><br><br>
                <button type="submit" class="btn ">Sign In</button>

                <a href="{{ url_for('guest') }}">Back to Home</a>
            </form>
        </div>

        <div class="reg">
            <h2>New User?</h2>
            <button class="btn"><a href="{{ url_for('register') }}">Register</a></button>
        </div>
    </div>
</body>
</html>
